<h1>Students List</h1>
<div>
    <button ui-sref="students.create" type="button" class="btn btn-default btn-circle btn-lg createStudentLink"
            title="Create Student">
        <i class="glyphicon glyphicon-plus"></i>
    </button>
</div>
<div class="keepTopBottomSpace"></div>
<div  class="keepBottomSpace" >
    <input type="text" name="txtSearch" ng-model="searchText"/>
</div>

<div class="container">
    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Grade</th>
                <th>Date of birth</th>
            </tr>
        </thead>
        <tr ng-repeat="stud in studentList">
            <td>{{stud.id}}</td>
            <td>{{stud.firstName}}</td>
            <td>{{stud.lastName}}</td>
            <td>{{stud.grade}}</td>
            <td>{{stud.dateOfBirth | date}}</td>
            <td class="actionColumns">
                <button class="btn btn-default" ui-sref="students.edit({studentId:stud.id})">
                    <i class="glyphicon glyphicon-edit">
                    </i>
                </button>
            </td>
            <td>
                <button class="btn btn-default" ng-click="deleteStudent(stud.id)">
                    <i class="glyphicon glyphicon-trash">
                    </i>
                </button>
            </td>
        </tr>
    </table>
</div>

