<style>
    /*.createContainer {
        background-color: #f2f2f2;
        border: 1px solid #ccc;
        padding: 20px;
        top: 20px;
        -webkit-box-shadow: 0 2px 2px 1px rgba(0,0,0,0.2);
        box-shadow: 0 2px 2px 1px rgba(0,0,0,0.2);
    }

    .backToListLink {
        float: right;
        position: relative;
        margin-right: 120px;
        clear: both;
    }*/
</style>

<h1>{{mode == "edit" ? "Edit": "Create"}} Student</h1>
<form name="studentForm" novalidate class="createContainer" ng-submit="operation()">
    <div class="container">
        <div class="backToListLink"><a ui-sref="students.list">Back to List</a></div>

        <div class="form-group col-sm-8" ng-class="{ 'has-error' : studentForm.firstName.$invalid && !studentForm.firstName.$pristine }">
            <label class="col-sm-4">First Name</label>
            <input type="text" name="firstName" class="form-control col-sm-4" ng-model="student.firstName" required>
            <p ng-show="studentForm.firstName.$invalid && !studentForm.firstName.$pristine" class="help-block">first name is required.</p>
        </div>

        <div class="form-group col-sm-8" ng-class="{ 'has-error' : studentForm.lastName.$invalid && !studentForm.lastName.$pristine }">
            <label class="col-sm-4">Last Name</label>
            <input type="text" name="lastName" class="form-control col-sm-4" ng-model="student.lastName" required>
            <p ng-show="studentForm.lastName.$invalid && !studentForm.lastName.$pristine" class="help-block">Last name is required.</p>
        </div>

        <div class="form-group col-sm-8" ng-class="{ 'has-error' : studentForm.grade.$invalid && !studentForm.grade.$pristine }">
            <label class="col-sm-4">Grade</label>
            <input type="text" name="grade" class="form-control col-sm-4" ng-model="student.grade" required>
            <p ng-show="studentForm.grade.$invalid && !studentForm.grade.$pristine" class="help-block">Grade is required.</p>
        </div>

        <div class="form-group col-sm-8" ng-class="{ 'has-error' : studentForm.dateOfBirth.$invalid && !studentForm.dateOfBirth.$pristine }">
            <label class="col-sm-4">Date of Birth</label>
            <input type="text" name="dateOfBirth" class="form-control col-sm-4" ng-model="student.dateOfBirth" required>
            <p ng-show="studentForm.dateOfBirth.$invalid && !studentForm.dateOfBirth.$pristine" class="help-block">Date of birth is required.</p>
        </div>

        <div class="form-group col-sm-8">
            <div class="row">
                <input type="submit" value="{{mode == 'edit' ? 'Update': 'Create'}} Student" class="btn btn-primary" ng-disabled="studentForm.$invalid" />
            </div>
        </div>
    </div>
</form>
